# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./smartvision-frontend/node_modules
./smartvision-backend/node_modules
./smartvision-frontend/.pnp
./smartvision-frontend.pnp.js

# testing
./smartvision-frontend/coverage

# production
./smartvision-frontend/build
